---
import Layout from '../layouts/Layout.astro';
import Links from '../components/Links.astro';
---

<Layout title="Welcome to Astro.">
  <main class="w-screen h-screen flex justify-center items-center">
    <div class="h-auto flex flex-col content-center w-full bg-red-200 sm:w-4/5">
      <Links />
    </div>
  </main>
</Layout>
